.page-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
}

.pad {
    width: 150px;
    height: 150px;
}

#red {
    background-color: red
}

#blue {
    background-color: blue
}

#yellow {
    background-color: yellow
}

#green {
    background-color:green;
}