.page-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pad-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
}



.pad {
    width: 150px;
    height: 150px;
}

#red {
    background-color: darkred
}

#blue {
    background-color: darkblue
}

#yellow {
    background-color: goldenrod
}

#green {
    background-color:darkgreen;
}